#headtext{
    position: absolute;
    top: 528px;
    left: 113px;
    width: 260px;
    height: 43px;
    font-size: 30px;
    color: #192F60;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#subtext{
    position: absolute;
    top: 578px;
    left: 113px;
    width: 331px;
    height: 25px;
    color: #8C96AB;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
}

.ctitle{
    text-align: left;
    color: #192F60;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    font-size: 18px;
}

.ctext{
    letter-spacing: 0px;
    color: #8C96AB;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    text-align: left;
}

.wrapper{
    position: relative;
    top: 170px;
    left: 30px;
}